.footer {
  background-color: #222;
  color: #fff;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  margin-top: 2em;
  align-items: center;
  padding-left: 70em;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li {
  display: flex;
  margin: 0 0.3em;
  align-items: center;
}

.social_list li:hover {
  color: #ffbb33;
}

.social_list svg {
  cursor: pointer;
  font-size: 1.5rem;
}

span {
  color: #ffbb33;
  padding-right: 0.3rem;
  font-weight: bold;
}
